version: '3.8'
services:
  db:
    image: postgres:15
    container_name: library-db
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=library_db
    ports:
      - "5432:5432"